@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Regular.ttf);
   }

* {
  margin:0;
  padding: 0;
  font-size: 14px;
}

ul {
  list-style: none;
}

label, a, i {
    font-size: 14px;
    text-decoration: none;
    transition-duration: 0.2s;
}

body {
  background-color: #fff;
  font-family: "OpenSans", Arial;
}

header {
  width: 100%;
  min-height: 106px;
}

.center {
  width: 1200px;
  margin: 0 auto;
}

.clear::after {
  content: "";
  display: table;
  clear: both;
}

.hidden {
  display: none !important;
}

.sticker {
  position: absolute;
  right: 0;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    z-index: 5;
}

.best,
.hit,
.discount {
  width: 83px;
  height: 83px;
}

.best {
    background-position: -5px -5px;
}

.hit {
    background-position: -5px -98px;
}

.discount {
    background-position: -5px -191px;
}

 input[type="text"]:focus,
 textarea:focus {
   outline: none;
   border-color: #eb831c;
   box-shadow: 0 0 6px #eb831c
}

/*---Шапка---*/

.h-top {
  min-height: 30px;
  border-bottom: 1px solid #bdbebe;
}

.h-top-left,
.h-bottom-left {
  margin-left: 32px;
  float:left;
}

.h-top-left li {
  display: inline-block;
  white-space: nowrap;
}

.h-top-left a {
  display: block;
  padding: 5px;
  color: #bdbebe;
}

.h-top-left a:hover,
.h-top-right a:hover,
.h-bottom .left span,
.footer-logo span,
.adress a:hover,
.wrap .breadcrumbs a:hover,
.wrap .catalog-pre-filter a:hover,
.catalog-page-count a:hover,
.catalog-pagination a:hover,
.links-block a:hover,
.sm-item h3:hover,
.tel a:hover,
.h-bottom-right .tel a:last-child:hover,
.item .actions a:hover i,
 .catalog-menu .main-menu .sub-menu li a:hover,
 .catalog-filter  label:hover {
  color: #eb831c;
}

 .catalog-filter .sub-menu li:first-child  label:hover {
  color: #bdbebe;
}

.h-top-right,
.h-bottom-right {
  position: relative;
  margin-top: 4px;
  margin-right: 32px;
  float:right;
}

.h-top-right a {
  padding: 5px;
  color: #545c76;
  white-space: nowrap;
}

.h-top-right a i {
  padding-right: 6px;
  font-size: 18px;
  color: #c8c9c9;
}

.callback {
  position: absolute;
  right: -5px;
  width: 205px;
  height: 145px;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  z-index: 10;
}

.callback input[type="text"] {
  margin: 8px;
  padding-left: 5px;
  width: 180px;
  height: 34px;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
}

.callback input[type="submit"] {
  padding: 4px 15px;
  margin-top: 8px;
  margin-left: 55px;
  background-color: #eb831c;
  color: #fff;
  border: 1px solid  #eb831c;
  border-radius: 5px;
}

.h-bottom {
  min-height: 75px;
  background-color: #f5f5f5;
  color: #bdbebe;
}

.h-bottom-left .logo {
  float: left;
  padding: 12px 0px;
  padding-right: 26px;
  vertical-align: middle;
}

.h-bottom .left {
  float: left;
  margin: 8px 0px;
}

.h-bottom .left p {
  padding: 0px 0px 6px 16px;
  color: #606060;
}

.search {
  position: relative;
}

.search a {
  position: absolute;
  right: 10px;
  top: 3px;
  padding: 5px;
  color: #bdbebe;
}

.search a i {
    font-size: 18px;
}


header .search input[type="text"] {
  width: 378px;
  height: 32px;
  padding-left: 16px;
  padding-right: 40px;
  border: 1px solid #bdbebe;
  border-radius: 10px;
}

.h-bottom-right {
  margin-top: 22px;
}

.tel {
  float: left;
  text-align: center;
}

.tel a {
  display: block;
  font-size: 18px;
  color: #303030;
}

.h-bottom-right .tel a:last-child {
  font-size: 12px;
  color: #bdbebe;
}

.adress {
  float: left;
  margin: 0px 20px;
}

.adress a {
  line-height: 24px;
  color: #545c76;
}

.favorite {
  float: left;
}

.favorite a:hover i {
  color: #c8504b;
}

header .favorite a{
  font-size: 30px;
  color: #545c76;
}

.favorite  .fav-bord {
  display: inline-block;;
  width: 66px;
  height: 30px;
  margin-left: 5px;
  border: 1px solid #bdbebe;
  border-radius: 10px;
  background-color: #f7f7f7;
  text-align: center;
  vertical-align: text-bottom;
}

.favorite  .fav-bord  span{
  font-size: 24px;
  color: #5a5a5a;
  line-height: 28px;
}

.catalog-menu {
  min-height: 44px;
  background-color: #e8e8e8;
}

 .catalog-menu .main-menu{
   margin: 0 22px;
   font-size: 0;
 }

.catalog-menu .main-menu > li:hover > a {
  background-color: #eb831c;
  color: white;
}

 .catalog-menu .main-menu .sub-menu a {
  display: block;
  font-size: 16px;
  color: #545c76;
  padding: 12px 10px;
}

 .catalog-menu .main-menu .sub-menu li:first-child a {
   padding-top: 12px;
 }

.catalog-menu .dropdown {
  position: relative;
}

.catalog-menu .main-menu .sub-menu {
  border: 1px solid #d0d0d0;
  border-top: 0px;
  box-shadow: 0 0 0 0;
  background-color: #fff;
  position: absolute;
  top: 100%;
  left: -1px;
}

 .catalog-menu .main-menu .sub-menu li a::after{
   content: "";
   position: absolute;
   bottom: 0;
   left: 10px;
   right: 10px;
   height: 1px;
   background: #d1d2d2;
 }

  .catalog-menu .main-menu .sub-menu li:last-child a::after{
    height: 0;
  }

.catalog-menu .main-menu > li{
  position: relative;
  display: inline-block;
  white-space: nowrap;
  width: 20%;
  text-align: center;
}

.catalog-menu .main-menu > li:last-child{
  margin-right: 0px;
}


.catalog-menu a{
  position: relative;
  display: block;
  font-size: 16px;
  color: #545c76;
  padding: 12px 10px;
}

.catalog-menu .main-menu > li > a::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 100%;
  right: -1px;
  height: 28px;
  background: #d0d0d0;
}

.catalog-menu .main-menu > li:last-child a::after {
  right: 0;
}

/*--- ---*/





/*---Контент блок---*/

.wrap .breadcrumbs {
  margin-left: 27px;
  margin-top: 22px;
}

.wrap .breadcrumbs a,
.wrap .breadcrumbs span {
  color: #bdbebe;
  padding: 0 2px;
}

.catalog-pre-filter {
  margin: 0 32px;
}

.catalog-pre-filter h2 {
  display: inline;
  font-size: 26px;
  margin-top: 6px;
}

.catalog-pre-filter p {
  float: right;
  padding-top: 13px;
  color: #bdbebe;
}

.catalog-pre-filter a,
.catalog-page-count a
 {
  color: #6a87c6;
  padding: 0 2px;
}

.catalog-pre-filter span.active,
.catalog-page-count span.active,
.catalog-page-count a.active{
  color: #303030;
}

.catalog-filter{
  margin: 0 32px;
  margin-top: 12px;
  background-color: #f7f7f7;
  border-radius: 10px;
}


.catalog-filter .main-menu > li {
  display: inline-block;
  position: relative;
  border-right: 1px solid #bdbebe;
  min-width: 200px;
  padding-right: 52px;
}

.main-menu li i{
  position: absolute;
  right: 24px;
  top: 20px;
}

 .main-menu li input[type="checkbox"] {
   position: relative;
   left: 20px;
 }

.main-menu .sub-menu li input[type="checkbox"] {
  left: 0;
  margin-right: 8px;
}

.main-menu .sub-menu {
    position: absolute;
    z-index: 50;
    left: 0;
    top: 0;
    display: none;
    width: 100%;
    background: #fff;
    box-shadow: -4px 4px 7px 1px rgba(0, 1, 3, 0.24);
}

.main-menu > li:hover .sub-menu {
    display: block;
}

.catalog-filter li:last-child {
  border-style: none;
  padding-right: 0px;
}

.catalog-filter a,
 .catalog-filter label {
  display: block;
  font-size: 16px;
  color: #bdbebe;
  padding: 16px 18px;
  padding-right: 32px;
}

.catalog-filter .sub-menu label {
  position: relative;
}

.catalog-filter label::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 18px;
  right: 18px;
  height: 1px;
  background: #f3f3f3;
}

.catalog-filter .sub-menu li:first-child label::after{
  height: 0;
}

 .catalog-filter .all::after{
   content: "";
   position: absolute;
   bottom: 0;
   left: 18px;
   right: 18px;
   height: 2px;
   background: #f3f3f3;
 }

 .catalog-filter label:hover,
 .catalog-filter label:hover  input[type="checkbox"] {
    cursor: pointer;
 }

.catalog-filter a span{
  color: #303030;
}

.sort-block {
  margin: 34px 32px 22px;
}

.catalog-sort {
  float: left;
}

.catalog-sort span{
  padding: 0 5px;
  color: #000;
}

.catalog-sort a{
  color: #bdbebe;
}

.catalog-sort i {
  padding-left: 5px;
}

.catalog-sort a:hover i {
  color: #446bbb;
}

.catalog-page-count {
  float: right;
}

.catalog-page-count span{
  color: #bdbebe;
}

.catalog-items {
  width: 100%;
  font-size: 0;
  margin: 0 32px;
}

.catalog-items .item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 261px;
  min-height: 510px;
  margin-right: 30px;
  margin-bottom: 40px;
}

.catalog-items .item .item-img  span {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  padding: 10px;
  color: #fff;
  z-index: 5;
}

.shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px -60px 100px 0px rgba(0,0,0,0.7);
}

.catalog-items .item .item-img {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.catalog-items .item .item-img a img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.catalog-items .item h3{
  font-size: 24px;
  color: 303030;
  font-weight: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.catalog-items .item span {
  font-size: 16px;
  color: #545c76;
}

.item .price {
  margin: 10px 0;
}

.catalog-items .item-left p {
  color: #0070f2;
  float: left;
  width: 105px;
  padding: 10px 0;
}

.catalog-items .item-left .color-box {
  float: left;
  margin: 11px 5px;
}

.catalog-items .item-left .flag {
  float: right;
}

.catalog-items .item .item-right {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 106px;
  height: 38px;
  border-radius: 5px;
  border: 2px solid #eb831c;
  background-color: #eb831c;
  transition: 0.2s;
}

.catalog-items .item .item-right a {
  display: block;
  color: #fff;
  padding: 10px 14px;
}

.catalog-items .item .item-right:hover {
  background-color: #fff;
  border: 2px solid #eb831c;
}

.catalog-items .item .item-right:hover a {
  color: #eb831c;
}

.catalog-items .actions {
    display: none;
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height:400px;
    background-color:rgba(0 ,0 , 0, 0.35);
    z-index:10;
}

.catalog-items .actions .to-fav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.catalog-items .actions .to-fav i{
  color: #fff;
  font-size: 48px;
  padding: 20px;
  border: 0px solid #000;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}

.catalog-items .actions .zoom {
  position: absolute;
  right: 0;
  bottom: 0;
}

.catalog-items .actions .zoom i{
  color: #fff;
  font-size: 24px;
  padding: 10px;
}

.catalog-items .item .item-top:hover .actions {
    display:block;
}

.bottom-pagination {
  margin: 0 32px;
  margin-top: 40px;
}

.catalog-pagination {
  float: left;
}

.catalog-pagination li {
  display: inline-block;
  width: 38px;
  height: 38px;
  text-align: center;
  margin-right: 12px;
}

.catalog-pagination li.current {
  border: 1px solid #dae1f1;
  background-color: #dae1f1;
  border-radius: 50%;
}

.catalog-pagination a,
.catalog-pagination span {
  display: block;
  font-size: 18px;
  color: #303030;
  padding-top: 5px;
}

.bottom-pagination .catalog-page-count{
  padding-top: 10px;
}

.banner-block {
  margin: 16px 32px;
}

.banner {
  display: inline-block;
  width: 31%;
  height: 140px;
  margin-right: 3%;
  background-color: #aaa;
}

.banner:nth-child(3n){
  margin-right: 0;
}

.seo {
  margin: 46px;
  margin-left: 32px;
  text-align: center;
}

.seo h2,
.seo p,
.seo a {
  color: #303030;
}

.seo h2{
  padding: 12px 0;
  font-size: 26px;
}

.seo p,
.seo a,
.seo i  {
  padding: 12px 0;
  font-size: 18px;
}

.seo .more {
  position: relative;
  top: -2px;
  width: 180px;
  height: 35px;
  margin: 0 auto;
  border: 1px solid #7e7e7e;
  border-top-color: transparent;
  border-radius: 0 0 15px 15px;
  background-color: white;
}

.seo .hidden-block {
  display: none;
}

.seo a {
  display: block;
  padding-top: 0;
}

.seo a:hover {
  color: #446bbb;
}

.seo i {
  padding-left: 8px;
  padding-top: 0;
}

.map {
  position: relative;
  width: 100%;
  min-height: 400px;
  background-image: url(../img/map.png);
  background-repeat: no-repeat;
  background-position: center;
}

.map .contacts {
  position: absolute;
  left: 41px;
  bottom: 40px;
  min-width: 300px;
  min-height: 80px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 1px;
  z-index: 10;
}

.map .contacts p {
  color: #446bbb;
  padding-left: 27px;
}

.map .contacts p:first-child {
    padding-top: 8px;
    font-size: 24px;
}

.map .contacts p:last-child {
    font-size: 20px;
}

.map .feedback {
  position: absolute;
  right: 21px;
  bottom: 40px;
  width: 318px;
  min-height: 298px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #d3d3d3;
  border-radius: 1px;
  z-index: 10;
}

.map .feedback p {
  background-color: #e8e8e8;
  font-size: 18px;
  padding: 18px 0 13px 90px;
  color: #303030;
}

.map .feedback input[type="text"] {
  width: 272px;
  height: 32px;
  padding-left: 15px;
  margin-left: 21px;
  margin-top: 16px;
  border: 1px solid #bdbebe;
  border-radius: 10px;
}

.map .feedback textarea {
  width: 272px;
  padding-left: 15px;
  margin-left: 21px;
  margin-top: 16px;
  border: 1px solid #bdbebe;
  border-radius: 10px;
}

.map .feedback input[type="submit"] {
  padding: 8px 30px;
  margin: 12px ;
  margin-left: 82px;
  background-color: #eb831c;
  color: #fff;
  border: 1px solid  #eb831c;
  border-radius: 5px;
}
/*--- ---*/



/*---Подвал---*/
footer {
  min-height: 175px;
  background-color: #6b6a6a;
}

.footer-logo,
.footer-links,
.footer-favorite {
  padding-top: 28px;
}

.footer-logo {
  float: left;
  width: 275px;
  margin-left: 32px;
}

.footer-logo p {
  color: #f7f7f7;
  padding-top: 8px;
}

.footer-links {
  float: left;
  margin-left: 50px;
}

.links-block {
  display: inline-block;
  padding: 5px 6px;
  line-height: 24px;
}

.links-block ul {
  border-right: 1px solid #f7f7f7;
}

.footer-links .links-block:last-child ul {
  border-style: none;
}

.links-block a {
  display: block;
  padding-right: 20px;
  color: #f7f7f7;
}

.footer-favorite {
  float: left;
  min-width: 280px;
  padding-left: 12px;
}

footer .favorite {
  min-width: 268px;
  padding-left: 28px;
}

footer .favorite a{
  padding: 10px;
  font-size: 33px;
  color: #eb831c;
}

footer .favorite p{
  display: inline-block;
  padding: 0 6px;
  padding-right: 20px;
  color: #eb831c;
}

footer .search {
    margin-top: 45px;
}

footer .search a {
  position: absolute;
  right: 25px;
  top: 15px;
  padding: 5px;
  color: #bdbebe;
}

footer input[type="text"] {
  width: 218px;
  height: 32px;
  margin: 4px;
  padding-left: 16px;
  padding-right: 40px;
  margin-top: 12px;
  border: 1px solid #bdbebe;
  border-radius: 10px;
}
/*--- ---*/

/*--- Цвета с Алькеры---*/
.color-box{
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 5px 20px 0px 0px;
  background: black;
  border-radius: 5px;
  opacity: 0.8;
}

.dropdown > a::before {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #ccc;
    content: "";
    right: 11px;
    position: absolute;
    top: 19px;
}

.dropdown:hover > a::before {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    content: "";
    right: 10px;
    position: absolute;
    top: 21px;
    z-index: 100;
}

#rgb_bejevyi { background: #c9bf86; border: 1px solid #c9bf86;}
#rgb_white { background: #ffffff; border: 1px solid #c7c9bd;}
#rgb_yellow { background: #fcb913; border: 1px solid #fcb913;}
#rgb_red { background: #ff2222; border: 1px solid #ff3322;}
#rgb_green { background: #83c200; border: 1px solid #83c200;}
#rgb_korichnevyi { background: #8e5246; border: 1px solid #8e5246;}
#rgb_raznocvet { background: linear-gradient(to right, #83c200, #cb43ab); border: 1px solid #83c200;}
#rgb_grau { background: #c7c9bd; border: 1px solid #c7c9bd;}
#rgb_blue { background: #4b4da6; border: 1px solid #4b4da6;}
#rgb_sirenevyi { background: #cb43ab; border: 1px solid #cb43ab;}
#rgb_black { background: #000; border: 1px solid #000;}
