img{
border: 0px;
}
 
a{
text-decoration: none;
}

a:hover{
text-decoration: underline;
}

:focus {outline:none;}
 
* {
margin:0;
padding:0;
border-collapse:collapse;
}
 
html{
height:100%;
min-height:100%;
background: white;
min-width: 1200px;
}

body{
position:relative;
min-height:100%;
width: 100%;
min-width: 1200px;
margin: 0px auto;
font-size: 14px;
font-family: Verdana;
color: black;
}

@font-face {
font-family: 'arial_narrow';
src: url('../fonts/arialn-webfont.eot');
src: url('../fonts/arialn-webfont.eot?#iefix') format('embedded-opentype'),
	 url('../fonts/arialn-webfont.woff') format('woff'),
	 url('../fonts/arialn-webfont.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face{
font-family: 'roboto_thin';
src: url('../fonts/roboto-thin-webfont.eot');
src: url('../fonts/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
	 url('../fonts/roboto-thin-webfont.woff') format('woff'),
	 url('../fonts/roboto-thin-webfont.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

.clear{
clear: both;
}

.header{
position: fixed;
width: 100%;
min-width: 1200px;
margin: 0px auto;
z-index: 920;
top: 0px;
background: white;
overflow-x: auto;
}

.wrapper{
position: relative;
width: 100%;
min-width: 1200px;
margin: 0px auto 0px auto;
padding: 0px 0px 178px 0px;
background: white;
overflow: hidden;
}

#cont_page{
background: url('../images/cont_bg.jpg');
padding-bottom: 283px;
}

.footer{
position: absolute;
bottom: 0;
left: 0;
width: 100%;
min-width: 1200px;
height: 178px;
overflow:hidden;
z-index: 800;
}

#cont_foot{
height: 283px;
}

.foot{
position: relative;
width: 1200px;
height: 135px;
padding: 43px 0px 0px 0px;
margin: 0px auto;
text-align: center;
background: white;
}

#cont_foot .foot{
height: 260px;
}

/* --- Ш пЄ  --- */


.call_block{
position: absolute;
display: block;
right: 30px;
bottom: -53px;
z-index: 999;
}

.call_open, .vir_prog{
display: block;
position: relative;
width: 152px;
height: 24px;
color: white;
font: 15px arial;
line-height: 24px;
text-align: center;
z-index: 999;
background: url('../images/call_btn.png') no-repeat center center;
}

.vir_prog {
position: absolute;
width: 224px;
bottom: -53px;
left: 22px;
background: url('../images/virt_prog.png') no-repeat center center;
}

.call_open:hover, .vir_prog:hover{
text-decoration: none;
color: #545c76;
}

.call_form{
display: none;
position: absolute;
top: 11px;
left: 0px;
width: 152px;
z-index: 997;
text-align: center;
background: #aaa;
}

.call_form input:first-child{
margin-top: 25px;
text-align: center;
width: 140px;
border: 0px solid #d1d1d1;
color: #494949;
font: 11px Verdana;
height: 22px;
line-height: 22px;
}


.call_form input{
margin-top: 10px;
text-align: center;
width: 140px;
border: 0px solid #d1d1d1;
color: #494949;
font: 11px Verdana;
height: 22px;
line-height: 22px;
}

.call_form button{
text-align: center;
width: 120px;
font: 11px Verdana;
height: 20px;
line-height: 20px;
border: 0px;
background: #ffae00;
color: white;
margin: 7px 0px 12px 0px;
}

.call_form button:hover{
cursor: pointer;
color: black;
}

.call_close{
display: block;
position: absolute;
bottom: 2px;
right: 2px;
width: 16px;
height: 16px;
z-index: 999;
}

.call_empty{
display: none;
position: absolute;
top: 0px;
left: 0px;
width: 100%;
height: 2100px;
z-index: 910;
background: black;
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);
-moz-opacity: 0.3;
-khtml-opacity: 0.3;
opacity: 0.3;
zoom: 1;
}

.call_empty2{
display: none;
position: absolute;
top: 0px;
left: 0px;
width: 100%;
height: 2100px;
z-index: 930;
background: black;
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);
-moz-opacity: 0.3;
-khtml-opacity: 0.3;
opacity: 0.3;
zoom: 1;
}

.h-top{
width: 1200px;
margin: 0px auto;
position: relative;
}

a.h-logo{
float: left;
display: block;
width: 213px;
height: 75px;
margin: 18px 0px 0px 21px;
background: url('../images/logo.png') no-repeat center center;
}

.h-ttl{
float: left;
width: 338px;
height: 55px;
color: #545c76;
font: 17px arial;
line-height: 53px;
border-left: 1px solid #ccc;
margin: 33px 0px 0px 50px;
padding: 0px 0px 0px 38px;
}

.h-ttl span{
color: #ffae00;
}

.h-address{
float: left;
margin: 31px 0px 0px 0px;
}

.h-address>p:first-child{
float: left;
width: 183px;
height: 55px;
font: 10px arial;
text-transform: uppercase;
color: #a3a3a3;
line-height: 60px;
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
}

.head_adr_time{
float: left;
width: 120px;
height: 37px;
font: 11px arial;
color: #a3a3a3;
border-right: 1px solid #ccc;
text-transform: uppercase;
padding: 19px 0px 0px 34px;
margin: 0px 20px 0px 0px;
background: url('../images/calend.png') no-repeat left center;
}

.h-address>p:last-child{
float: left;
height: 55px;
/*font: 20px arial_narrow;*/
font: 18px arial;
color: #545c76;
line-height: 58px;
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
}

.h-menu{
width: 100%;
height: 42px;
background: #f5f5f5;
text-align: center;
margin: 20px 0px 0px 0px;
}

.h-menu ul{
display: inline-block;
//display: inline;
zoom: 1;
}

.h-menu ul li{
float: left;
height: 42px;
display: inline;
position: relative;
}

.h-menu ul li a{
display: block;
height: 42px;
color: #545c76;
font: 15px arial;
padding: 0px 21px;
line-height: 42px;
}

.h-menu ul li a:hover, .h-menu ul li:hover a{
background: #ffae00;
color: white;
text-decoration: none;
}

.h-menu ul li ul{
display: none;
}

.h-menu ul li:hover ul{
display: block;
position: absolute;
z-index: 750;
top: 42px;
left: 0px;
width: 285px;
padding: 15px 2px 25px 2px;
background: #ffba25;
}

.h-menu ul li:hover ul li{
float: none;
height: auto;
display: block;
}

.h-menu ul li:hover ul li a{
display: block;
height: auto;
color: white;
width: 252px;
font: 14px arial_narrow;
text-transform: uppercase;
padding: 13px 0px 13px 33px;
line-height: 16px;
background: transparent;
text-align: left;
}

.h-menu ul li:hover ul li:hover{
background: #ffd67c url('../images/menu_bg.png') no-repeat center top;
}

.h-menu ul li:hover ul li:hover a{
background: url('../images/menu_bg.png') no-repeat center bottom;
}

.h-cats{
width: 100%;
height: 120px;
text-align: center;
background-color: #e8e8e8;
margin-top: 2px;
}

.h-cats ul{
display: inline-block;
//display: inline;
zoom: 1;
}

.h-cats ul li{
float: left;
height: 120px;
display: inline;
position: relative;
padding-left: 1px;
background: url('../images/h_cat_brd.png') no-repeat left center;
}

.h-cats ul li:first-child{
background: none;
}

.h-cats ul li a{
display: block;
width: 100px;
height: 38px;
padding: 82px 0px 0px 32px;
font: 12px arial;
color: #545c76;
text-align: left;
background: url('../images/h_cat1.jpg') no-repeat 33px 23px;
}

.h-cats ul li a:hover{
text-decoration: none;
color: black;
}

.h-cats ul li:nth-child(2) a{
background-image: url('../images/h_cat2.jpg');
}

.h-cats ul li:nth-child(3) a{
background-image: url('../images/h_cat3.jpg');
}

.h-cats ul li:nth-child(4) a{
background-image: url('../images/h_cat4.jpg');
}

.h-cats ul li:nth-child(5) a{
background-image: url('../images/h_cat5.jpg');
}

.h-cats ul li:nth-child(6) a{
background-image: url('../images/h_cat6.jpg');
}

.h-cats ul li:nth-child(7) a{
background-image: url('../images/h_cat7.jpg');
}

.h-cats ul li:nth-child(8) a{
background-image: url('../images/h_cat8.jpg');
}

.h-cats ul li:nth-child(9) a{
background-image: url('../images/h_cat9.jpg');
}

/* --- В°аЇЇе° --- */

.slider-nums{
width: 100%;
height: 470px;
text-align: center;
/*background: url('../images/main_top_bg_v3.jpg') no-repeat center center;*/
background: url('../images/main_top_bg_v4.jpg') no-repeat center center;
position: relative;
/*margin-top: 8px;*/
margin-top: 285px;
}

.mw-slider{
width: 1900px;
height: 470px;
margin: 0px 0px 0px -950px;
top: 0;
left: 50%;
position: absolute;
z-index: 600;
}

.main_tens_block {
background: url('../images/count_bg.jpg') no-repeat center center;
text-align: center;
height: 193px;
padding: 44px 0px 0px 0px;
}

.mt_in{
width: 1147px;
height: 150px;
margin: 0px auto;
}

.mt_in li{
float: left;
width: 293px;
height: 150px;
list-style: none;
}

.mt_in li:first-child{
float: left;
width: 320px;
}

.mt_in li:nth-child(4){
width: 240px;
}

.mt_big{
float: left;
font: 70px arial;
font-weight: bold;
color: #ffae00;
letter-spacing: -15px;
margin-left: 12px;
line-height: 150px;
margin-right: 20px;
}

.mt_in li:first-child .mt_big{
margin: 0px 28px 0px 39px;
letter-spacing: -10px;
}

.mt_in li:nth-child(4) .mt_big{
font: 50px arial;
font-weight: bold;
letter-spacing: -12px;
line-height: 150px;
}

.mt_txt{
float: left;
width: 100px;
font: 14px arial_narrow;
color: #232836;
text-transform: uppercase;
line-height: 16px;
text-align: left;
margin-top: 50px;
}

.mt_in li:nth-child(4) .mt_txt{
width: 80px;
margin-top: 58px;
}

.mt_txt span{
color: #ffae00;
}

.bx-controls{
width: 1900px;
text-align: center;
position: relative;
margin: 0px auto;
}

.bx-pager{
display: inline-block;
//display: inline;
zoom: 1;
margin: 26px 0px 0px 0px;
}

.bx-pager div{
float: left;
display: inline;
}

.bx-pager a{
display: block;
width: 11px;
height: 11px;
font-size: 8px;
line-height: 500px;
overflow: hidden;
margin: 0px 5px;
background: url('../images/slider_rounds.png') no-repeat -11px center;
}

.bx-pager a.active{
background: url('../images/slider_rounds.png') no-repeat left center;
}

.mw-slider a.bx-prev{
position: absolute;
top: -470px;
left: 0;
width: 120px;
height: 470px;
font-size: 8px;
line-height: 2000px;
overflow: hidden;
z-index: 700;
background: url('../images/arrow3_2.png') no-repeat center center;
}

.mw-slider a.bx-next{
position: absolute;
top: -470px;
right: 0;
width: 120px;
height: 470px;
font-size: 8px;
line-height: 2000px;
overflow: hidden;
z-index: 700;
background: url('../images/arrow4_2.png') no-repeat center center;
}

.mw-sl-ttl{
position: absolute;
top: 260px;
left: 99px;
width: 405px;
height: 170px;
color: white;
font: 22px roboto_thin;
}

.mw-sl-ttl p:first-child{
font: 50px roboto_thin;
text-transform: uppercase;
}

.mw-sl-romb{
position: absolute;
top: 0px;
left: 50%;
width: 370px;
height: 319px;
margin: 0px 0px 0px 79px;
padding: 151px 0px 0px 145px;
background: url('../images/romb2.png') no-repeat center center;
}

.mw-sl-romb1{
width: 226px;
color: black;
line-height: 30px;
font-family: roboto_thin;
padding: 0px 0px 12px 42px;
margin: 0px 0px 12px 0px;
}

.mw-sl-romb1 p:first-child{
font-size: 26.67px;
}

.mw-sl-romb1 p:last-child{
font-size: 33.33px;
text-transform: uppercase;
}

.mw-sl-romb2{
width: 206px;
color: #545c76;
font: 14px arial;
padding: 0px 0px 0px 62px;
}

.mw-sl-romb2 p{
line-height: 19px;
}

.mw-sl-links{
position: absolute;
top: 330px;
left: 50%;
margin: 0px 0px 0px 132px;
width: 346px;
height: 58px;
z-index: 700;
background: url('../images/slider_btn2.png') no-repeat center center;
}

.mw-sl-links a{
float: left;
display: block;
width: 206px;
height: 58px;
font: 15px arial_narrow;
color: white;
line-height: 58px;
text-transform: uppercase;
text-align: center;
}

.mw-sl-links a:hover{
text-decoration: none;
color: black;
}

.mw-sl-links a:last-child{
width: 140px;
}

.xdsoft_flipcountdown{display:inline-block;}

.xdsoft_flipcountdown .xdsoft_digit{float:left;background-repeat:no-repeat;}
.xdsoft_flipcountdown .xdsoft_clearex{clear:both;float:none;}


.xdsoft_flipcountdown >.xdsoft_digit{
background-position:0px 0px;
}
.xdsoft_flipcountdown >.xdsoft_digit.xdsoft_separator,.xdsoft_flipcountdown >.xdsoft_digit.xdsoft_dot{
opacity:0.9;
}
.xdsoft_flipcountdown.xdsoft_size_lg >.xdsoft_digit{
width:53px; 
height:76px;
background-image:url(./img/digit-lg.png);
}
.xdsoft_flipcountdown.xdsoft_size_lg >.xdsoft_digit.xdsoft_space,
.xdsoft_flipcountdown.xdsoft_size_lg >.xdsoft_digit.xdsoft_separator,
.xdsoft_flipcountdown.xdsoft_size_lg >.xdsoft_digit.xdsoft_dot{
width:14px;
background-position:-19px -4620px;
}
.xdsoft_flipcountdown.xdsoft_size_lg >.xdsoft_digit.xdsoft_dot{
background-position:-41px -4620px;
}
.xdsoft_flipcountdown.xdsoft_size_lg >.xdsoft_digit.xdsoft_space{
background-position:-100px -4620px;
}

.xdsoft_flipcountdown.xdsoft_size_md >.xdsoft_digit{
width: 30px; 
height:51px;
background-image:url(../images/digit-md.png);
}
.xdsoft_flipcountdown.xdsoft_size_md >.xdsoft_digit.xdsoft_space,
.xdsoft_flipcountdown.xdsoft_size_md >.xdsoft_digit.xdsoft_separator,
.xdsoft_flipcountdown.xdsoft_size_md >.xdsoft_digit.xdsoft_dot{
width:10px;
background-position:-13px -3120px;
}
.xdsoft_flipcountdown.xdsoft_size_sm >.xdsoft_digit{
width:24px; 
height:34px;
background-image:url(../images/digit-sm.png);
}
.xdsoft_flipcountdown.xdsoft_size_sm >.xdsoft_digit.xdsoft_space,
.xdsoft_flipcountdown.xdsoft_size_sm >.xdsoft_digit.xdsoft_separator,
.xdsoft_flipcountdown.xdsoft_size_sm >.xdsoft_digit.xdsoft_dot{
width:10px;
background-position:-6px -2100px;
}
.xdsoft_flipcountdown.xdsoft_size_xs >.xdsoft_digit{
width:16px; 
height:23px;
background-image:url(../images/digit-xs.png);
}
.xdsoft_flipcountdown.xdsoft_size_xs >.xdsoft_digit.xdsoft_space,
.xdsoft_flipcountdown.xdsoft_size_xs >.xdsoft_digit.xdsoft_separator,
.xdsoft_flipcountdown.xdsoft_size_xs >.xdsoft_digit.xdsoft_dot{
width:5px;
background-position:-5px -1440px;
}

.x2{
margin: 0px 2px 0px -5px; 
}

.mw-sl-timer{
position: absolute;
top: 334px;
left: 50%;
margin: 0px 0px 0px -105px;
z-index: 700;
}

.mw-sl-timer ul{
position: absolute;
top: 57px;
left: 0px;
list-style: none;
}

.mw-sl-timer ul li{
width: 56px;
float: left;
font: 11px arial_narrow;
color: white;
text-align: center;
}

ul.mw-nums{
display: inline-block;
//display: inline;
zoom: 1;
margin: 58px 0px 0px 0px;
}

ul.mw-nums li{
float: left;
display: inline;
width: 198px;
height: 148px;
margin: 0px 30px;
}

.mw-nums-num{
float: left;
width: 105px;
height: 148px;
font: 100px Arial;
font-weight: bold;
color: #ffae00;
line-height: 148px;
text-align: center;
letter-spacing: -20px;
position: relative;
margin: 0px 5px 0px -10px;
color: transparent;
}

.mw-nums-num.first {
background: url(../images/ten.png) no-repeat left 60%;
}

.mw-nums-num.second {
background: url(../images/thousand.png) no-repeat left 60%;
}

.mw-nums-num.third {
background: url(../images/ten_thousand.png) no-repeat left 60%;
}

.mw-nums-num.fourth {
background: url(../images/hundr_thousand.png) no-repeat left 60%;
}

.mw-nums-num p{
position: absolute;
width: 88px;
height: 92px;
top: 37px;
left: 11px;
background: url(../images/num_bg.png) no-repeat left top;
}

.mw-nums-num i{
font: 70px Arial;
line-height: 128px;
padding-bottom: 20px;
}

ul.mw-nums li>p{
font: 14px arial_narrow;
color: #545c76;
text-align: left;
text-transform: uppercase;
line-height: 16px;
}

ul.mw-nums li>p.mw-nums-yl{
color: #ffae00;
margin: 60px 0px 0px 0px;
}

.mw-production, .mw-pluses, .mw-3d, .mw-feed{
width: 1200px;
margin: 50px auto;
}

.mw-production{
margin-top: 30px;
margin-bottom: 0px;
text-align: center;
position: relative;
}

.mw-ttl{
font: 33px roboto_thin;
color: black;
text-transform: uppercase;
text-align: center;
margin: 0px 0px 30px 0px;
}

.mw-production .bx-pager{
display: none;
}

.mw-production .bx-wrapper{
margin: 0px auto;
text-align: center;
padding: 0px 0px 0px 14px;
}

.mw-prod-list{
display: inline-block;
//display: inline;
zoom: 1;
}

.mw-prod-list div{
float: left;
display: block;
width: 156px;
height: 132px;
display: inline;
position: relative;
padding: 0px 15px 0px 0px;
background: url(../images/prod_bg.png) no-repeat left top;
}

.mw-prod-list div a{
display: block;
width: 163px;
height: 117px;
margin: 0px 14px 15px 0px;
font: 19px arial_narrow;
color: white;
text-transform: uppercase;
/*line-height: 116px;*/
padding-top: 30px;
}

.mw-prod-list div a p{
width: 162px;
height: 116px;
font: 19px arial_narrow;
color: white;
text-transform: uppercase;
/*line-height: 116px;*/
}

.mw-prod-list a:hover, .mw-prod-list a:hover p{
text-decoration: none;
color: black;
}

#mw-prod1{
background-color: #9f1e54;
}

#mw-prod2{
background-color: #83c200;
}

/*#mw-prod2 a{
padding-top: 40px;
}*/

#mw-prod3{
background-color: #fcb913;
}

/*#mw-prod3 a{
padding-top: 40px;
}*/

#mw-prod4{
background-color: #2fc89c;
}

#mw-prod4 a{
padding-top: 40px;
}


#mw-prod5{
background-color: #5d68ff;
}

#mw-prod5 a{
padding-top: 40px;
}

#mw-prod6{
background-color: #af23ff;
}

#mw-prod6 a{
padding-top: 40px;
}

#mw-prod7{
background-color: #fd5900;
}

/*#mw-prod7 a{
padding-top: 40px;
}*/

#mw-prod8{
background-color: #3abc00;
}

.mw-production a.bx-prev{
position: absolute;
top: -132px;
left: -142px;
width: 130px;
height: 117px;
font-size: 8px;
line-height: 2000px;
overflow: hidden;
background: url('../images/arrow3_1.png') no-repeat left center;
}

.mw-production a.bx-next{
position: absolute;
top: -132px;
left: 874px;
width: 130px;
height: 117px;
font-size: 8px;
line-height: 2000px;
overflow: hidden;
background: url('../images/arrow4_1.png') no-repeat right center;
}

.mw-prod-txt{
width: 502px;
font: 16px arial;
color: #545c76;
margin: 40px auto 0px auto;
padding: 0px 180px 60px 180px;
text-align: center;
border-bottom: 1px dashed #cacaca;
}

.mw-prod-txt a{
color: #ffae00;
}

.mw-pluses{
text-align: center;
}

.mw-pluses ul{
zoom: 1;
text-align: center;
}

.mw-pluses ul li{
float: left;
width: 219px;
height: 120px;
display: inline-block;
list-style: none;
margin-left: 26px;
padding: 150px 0px 0px 0px;
background: url('../images/plus1.png') no-repeat 3px 28px;
}

.mw-pluses ul li:nth-child(2){
background: url('../images/plus2.png') no-repeat -26px 39px;
}

.mw-pluses ul li:nth-child(3){
background: url('../images/plus3.png') no-repeat 3px 28px;
}

.mw-pluses ul li:nth-child(4){
background: url('../images/plus4.png') no-repeat 3px 28px;
}

.mw-pluses ul li:nth-child(5){
background: url('../images/plus5.png') no-repeat 3px 28px;
}

.mw-pluses ul li:first-child{
margin-left: 0px;
}

.plus_ttl{
height: 33px;
font: 15px arial;
color: #545c76;
text-transform: uppercase;
text-align: left;
padding-left: 10px;
padding-bottom: 20px;
margin-bottom: 12px;
border-bottom: 1px dashed #d7d8de;
overflow: hidden;
}

.plus_txt{
height: 42px;
padding-left: 10px;
font: 12px arial;
color: #a9adba;
text-align: left;
overflow: hidden;
}

a.plus_more{
display: block;
font: 12px arial;
color: #ffae00;
text-align: left;
margin-left: 10px;
}

a.plus_more:hover{
color: black;
text-decoration: none;
}

/*
.mw-pluses ul{
zoom: 1;
text-align: center;
}

.mw-pluses ul li{
float: left;
width: 267px;
height: 173px;
padding-left: 117px;
display: inline-block;
list-style: none;
}

#mw-list1{
background: url('../images/plus1-1.jpg') no-repeat left 20px;
}

#mw-list2{
background: url('../images/plus2-1.jpg') no-repeat left 20px;
}

#mw-list3{
background: url('../images/plus3-1.jpg') no-repeat left 20px;
}

#mw-list4{
margin-left: 200px;
background: url('../images/plus4-1.jpg') no-repeat left 20px;
}

#mw-list5{
background: url('../images/plus5-1.jpg') no-repeat left 20px;
}

.mw-pluses ul li p{
text-align: left;
padding-left: 11px;
font: 14px arial_narrow;
color: #545c76;
line-height: 16px;
}

.mw-pluses ul li p:first-child{
color: #545c76;
padding: 0px 0px 11px 11px;
margin: 9px 0px 11px 0px;
text-transform: uppercase;
border-bottom: 1px dashed #d7d8de;
}

.mw-pluses ul li p a{
display: block;
display: none;
color: #ffae00;
}

.mw-pluses-txt{
clear: both;
width: 502px;
font: 17px arial_narrow;
color: #545c76;
margin: 50px auto;
padding: 0px 180px 40px 180px;
text-align: center;
border-bottom: 0px dashed #cacaca;
}

.mw-pluses-txt a{
color: #ffae00;
}
*/

.mw-order{
width: 100%;
height: 397px;
padding: 32px 0px 0px 0px;
margin: 0px 0px 50px 0px;
text-align: center;
background: url('../images/order_bg.jpg') no-repeat center top;
}

.mw-order ul{
width: 1147px;
margin: 0px auto 0px auto;
}

.mw-order ul li{
float: left;
display: inline;
/*margin: 0px 38px; 238
width: 180px;*/
width: 193px;
height: 127px;
margin: 0px 0px 0px 45px;
padding: 167px 0px 0px 0px;
}

.mw-order ul li:first-child{
margin: 0px 0px 0px 0px;
}

.mw-order ul li:nth-child(2), .mw-order ul li:nth-child(4){
width: 188px;
}

.mw-order ul li:nth-child(5){
width: 205px;
}

#mw-oder1{
background: url('../images/step1.png') no-repeat 2px 23px;
}

#mw-oder2{
background: url('../images/step2.png') no-repeat 10px 23px;
}

#mw-oder3{
background: url('../images/step3.jpg') no-repeat -1px 26px;
}

#mw-oder4{
background: url('../images/step4_2.jpg') no-repeat 59px 38px;
}

#mw-oder5{
background: url('../images/step5_2.jpg') no-repeat 28px 27px;
}

.mw-order ul li p{
font: 12px arial;
color: #a9adba;
line-height: 14px;
text-align: left;
padding-left: 25px;
}

.mw-order ul li p:first-child{
height: 34px;
text-transform: uppercase;
font: 15px arial;
color: #545c76;
margin: 0px 0px 10px 0px;
padding-left: 25px;
overflow: hidden;
}

.mw-3d{
width: 862px;
margin: 0px auto 53px auto;
background: url('../images/3d_bg.jpg') no-repeat 36px 0px;
}

a.mw-3d-view{
display: block;
width: 241px;
height: 58px;
font: 20px arial_narrow;
color: white;
text-transform: uppercase;
text-align: center;
line-height: 58px;
margin: 250px auto 0px auto;
background: url('../images/3d_btn.png') no-repeat center 0px;
}

a.mw-3d-view:hover{
color: #ffae00;
text-decoration: none;
}

.mw-map{
width: 858px;
height: 550px;
margin: 0px auto 53px auto;
text-align: center;
position: relative;
border-bottom: 1px dashed #d7d8de;
}

.mw-map-in{
position: absolute;
width: 1900px;
height: 550px;
left: 50%;
top: 0;
margin-left: -950px;
}

.mw-feed{
width: 800px;
margin: 0px auto;
}

.mw-feed-txt{
font: 16px arial;
color: #545c76;
line-height: 20px;
text-align: center;
margin: 0px 0px 35px 0px;
}

/*
.mw-feed-txt span {
font-weight: bold;
font-size: 19px;
color: #ffae00; 
}*/

.mw-feed form input[type="text"]{
display: block;
width: 408px;
height: 44px;
border: 1px solid #bababa;
border-radius: 5px;
margin: 0px auto 6px auto;
text-align: center;
font: 16px arial;
color: #545c76;
}

.mw-feed form input[type="submit"]{
display: block;
width: 241px;
height: 58px;
font: 20px arial_narrow;
color: white;
text-transform: uppercase;
line-height: 58px;
margin: 25px auto 0px auto;
border: 0px;
background: url('../images/3d_btn.png') no-repeat center 0px;
}

.mw-feed form input[type="submit"]:hover{
color: #ffae00;
cursor: pointer;
text-decoration: none;
}

.mw-feed-addr{
margin: 45px 0px 0px 0px;
}

.mw-feed-addr>p{
text-align: center;
font: 16px arial;
color: #545c76;
margin: 0px 0px 3px 0px;
}

.mw-feed-addr1{
float: left;
width: 359px;
height: 48px;
padding: 10px 40px 0px 0px;
text-align: right;
font: 17px arial_narrow;
color: #545c76;
line-height: 19px;
border-right: 1px solid #a9adba;
}

.mw-feed-addr2{
float: left;
width: 400px;
height: 58px;
}

.mw-feed-addr2 a{
display: block;
width: 360px;
height: 58px;
font: 17px arial_narrow;
color: #ffae00;
line-height: 58px;
margin-left: 40px;
padding-left: 70px;
background: url('../images/map_ico.jpg') no-repeat left center;
}

.wrap{
width: 1146px;
/*min-height: 1334px;*/
margin: 277px auto 0px auto;
position: relative;
padding: 8px 27px 0px 27px;
z-index: 700;
background: white;
}

.wrap-shadow{
position: absolute;
top: 400px;
width: 100%;
height: 849px;
z-index: 500;
background: url('../images/cont_shadow.png') no-repeat center center;
}

.pathway{
font: 12px arial;
color: #545c76;
line-height: 14px;
margin: 22px 0px 30px 370px;
}

.pathway a{
color: #545c76;
}

.pathway span{
color: 545c76;
}

.pathway a:hover{
color: #efa319;
text-decoration: none;
}

.content-ttl{
font: 25px arial;
color: #545c76;
line-height: 27px;
margin: 0px 0px 30px 370px;
}

#prod_ttl{
margin: 0px 0px 45px 626px;
}

.left-col{
float: left;
width: 330px;
padding: 0px 0px 0px 0px;
margin: -72px 40px 0px 0px;
position: relative;
}

.cat-filters-pl{
margin: 0px 0px 75px 0px;
}

.filter_pre{
width: 252px;
height: 55px;
font: 15px arial;
color: #545c76;
line-height: 55px;
text-transform: uppercase;
padding: 0px 0px 0px 78px;
margin: 0px 0px 5px 0px;
background: #ebecf0 url('../images/fltr_bg.png') no-repeat 30px center;
}

ul.cat_filters li{
margin: 0px 0px 5px 0px;
}

ul.cat_filters li a.heading{
display: block;
width: 276px;
height: 55px;
font: 15px arial;
color: #545c76;
line-height: 55px;
text-transform: uppercase;
padding: 0px 0px 0px 54px;
margin: 0px 0px 5px 0px;
position: relative;
background: #ebecf0 url('../images/dot2.png') no-repeat 32px center;
}

ul.cat_filters li a.heading:hover{
text-decoration: none;
color: black;
}

ul.cat_filters li .heading span{
width: 55px;
height: 55px;
top: 0;
right: 0;
position: absolute;
background: url('../images/fltr_arrow2.png') no-repeat center center;
}

ul.cat_filters li a#fltr_open span{
background: url('../images/fltr_arrow1.png') no-repeat center center;
}

ul.cat_filters li>div{
padding: 20px 40px 20px 0px;
max-height: 253px;
overflow: hidden;
}

ul.cat_filters li>div ul{
max-height: 264px;
overflow-y: auto;
}

ul.cat_filters li>div ul li{
margin: 0px 0px 0px 0px;
}

ul.cat_filters li>div label{
display: block;
font: 15px arial;
color: #545c76;
line-height: 23px;
padding: 0px 0px 0px 32px;
}

ul.cat_filters li>div label:hover{
color: #99283a;
cursor: pointer;
background: #f2f2f4;
}

ul.cat_filters li>div input[type=checkbox]{
display: block;
float: left;
width: 14px;
height: 14px;
vertical-align: -2px;
margin: 5px 12px 0px 0px;
cursor: pointer;
}

ul.cat_filters li>div.filtry_text_color input[type=checkbox]{
margin: 5px 9px 0px 0px;
}

ul.cat_filters li>div span{
display: block;
float: left;
width: 215px;
}

ul.cat_filters li>div.filtry_text_color span{
width: 182px;
}

ul.cat_filters li>div label:after{
content: "";
display: block;
height: 1px;
clear: both;
}

ul.cat_filters li>div.filtry_text_color span.color_square{
width: 14px;
height: 14px;
margin: 5px 20px 0px 0px;
background: black;
}

.cat-filters-pl input.btn_filtr{
display: none;
}

.left-links{

}

.left-links a{
display: block;
width: 223px;
height: 58px;
font: 20px arial_narrow;
color: white;
text-transform: uppercase;
text-align: center;
line-height: 58px;
margin: 0px 0px 0px 14px;
background: url('../images/left_btns.png') no-repeat center 0px;
}

.left-links a:last-child{
margin-top: 20px;
background: url('../images/left_btns.png') no-repeat center -58px;
}

.left-links a:hover{
color: black;
text-decoration: none;
}

.right-col{
float: left;
width: 776px;
}

/*
.cat-filters-pl{
width: 722px;
padding: 0px 102px 21px 0px;
position: relative;
}

#filter-pl-shadow{
background: url('../images/right_bg.png') no-repeat left bottom;
}

#filter-pl-noshadow{
background: url('../images/right_bg2.png') no-repeat left bottom;
}

.cat-filters-in{
width: 722px;
height: auto;
background: white;
border-radius: 10px;
overflow: hidden;
padding: 0px 0px 21px 0px;
}

.cat-filters-close{
width: 722px;
height: 69px;
padding: 0px;
position: relative;
background: white;
overflow: hidden;
}

a.cat-f-link{
position: absolute;
display: block;
height: 29px;
font: 14px arial_narrow;
color: #efa319;
line-height: 32px;
top: 19px;
right: 133px;
text-align: right;
}

#filter-shadow2 a.cat-f-link, #filter-noshadow2 a.cat-f-link{
right: 28px;
}

.cat-ttl{
width: 500px;
font: 20px arial_narrow;
color: #545c76;
padding: 20px 0px 20px 28px;
}

.cat-f-types, ul.cat_filters li.li_filter1{
width: 666px;
text-align: center;
height: 24px;
padding: 0px 0px 15px 0px;
margin: 0px auto 15px auto;
border-bottom: 1px dashed #c6c8cf;
}
.cat-f-types, ul.cat_filters li.li_filter1 input{
display:none;
}

.cat-f-types ul, ul.cat_filters li.li_filter1 ul{
display: inline-block;
//display: inline;
zoom: 1;
}

.cat-f-types ul li, ul.cat_filters li.li_filter1 div{
float: left;
display: inline;
min-width: 125px;
height: 24px;
margin: 0px 1px;
background: #c0c0c0 url('../images/type_bg2.jpg') no-repeat right top;
}

.cat-f-types ul li:hover, .cat-f-types ul li.active, ul.cat_filters li.li_filter1 div:hover, ul.cat_filters li.li_filter1 div#act-type{
background: #f1a318 url('../images/type_bg4.jpg') no-repeat right top;
}

.cat-f-types ul li a, ul.cat_filters li.li_filter1 div label{
display: block;
height: 24px;
font: 15px arial_narrow;
color: #545c76;
line-height: 24px;
padding: 0px 31px;
background: url('../images/type_bg1.jpg') no-repeat left top;
}

.cat-f-types ul li a:hover, ul.cat_filters li.li_filter1 div label:hover{
color: white;
cursor: pointer;
text-decoration: none;
background: url('../images/type_bg3.jpg') no-repeat left top;
}

.cat-f-types ul li a.act, ul.cat_filters li.li_filter1 div#act-type label{
color: white;
text-decoration: none;
background: url('../images/type_bg3.jpg') no-repeat left top;
}

.cat-f-color, ul.cat_filters li.li_filter4{
text-align: center;
position: relative;
margin: 0px 0px 15px 0px;
}

.cat-f-color>a{
position: absolute;
display: block;
height: 29px;
font: 14px arial_narrow;
color: #efa319;
line-height: 32px;
top: 0px;
left: 100px;
}

.cat-f-color p.cat-act-color, ul.cat_filters li.li_filter4 .heading{
font: 20px arial_narrow;
color: #545c76;
padding: 0px 0px 10px 28px;
text-align: left;
}

.cat-f-color ul, ul.cat_filters li.li_filter4 ul{
display: inline-block;
//display: inline;
zoom: 1;
}

.cat-f-color ul li, ul.cat_filters li.li_filter4 ul li{
float: left;
display: inline;
width: 48px;
height: 52px;
margin: 0px 0px 0px 4px;
background-image: url('../images/color_bg3.png');
background-repeat: no-repeat;
background-position: left top;
}

.colorgreen{
background-color: green;
}

.colorred{
background-color: red;
}

.colorblue{
background-color: blue;
}

.coloryellow{
background-color: yellow;
}

.colorbrown{
background-color: brown;
}

.colorblack{
background-color: black;
}

.colorblackwhite{
background-color: #fafafa;
}

.colorbeige{
background-color: #A39480;
}

.colorgreen2{
background-color: #83c200;
}

.colorblue2{
background-color: #403984;
}






.colorbejevyi{background-color: #cba983; }
.colorwhite{background-color: #fff; }


 ul.cat_filters li.li_filter4 ul li.colorwhite label {

background-image: url('../images/color_bg_white.png');
}


 ul.cat_filters li.li_filter4 ul li.colorwhite{
	background-image: url('../images/color_bg_white_big.png');
}

.colorbordovyi{ background-color: #99283a;}

.coloryellow{
background-color: yellow;
}
.colorgreen{
background-color: #86c208;
}
.colorkorichnevyi{
background-color: #9c721c;
}
.colorred{
background-color: #cf2629;
}
.colorraznocvet{
	
}
 ul.cat_filters li.li_filter4 ul li.colorraznocvet label {

background-image: url('../images/color_bg_raznocvet.png');
}
 ul.cat_filters li.li_filter4 ul li.colorraznocvet{
	background-image: url('../images/color_bg_raznocvet_big.png');
}



.colorgrau{
	
	background-color: #bebebe;	
}
.colorblue{
background-color: #485fbf;
}
.colorsirenevyi{
background-color: #C8A2C8;
}
.colorviolet{
background-color: #EE82EE;
}

.colorblack{
background-color: #232323;
}
/*
$mass_color =array(
    "bejevyi" => "eжҐўпїЅйў¬
    "white" => "eл»©",
    "bordovyi" => "nпїЅд®ўпїЅйў¬
    "yellow" => "ЖҐлІ»йЇЋпїЅа­¦еў»йў¬
    "green" => "ЗҐлҐ­пїЅйў¬
    "korichnevyi" => "К®пїЅи·­еў»йў¬
    "red" => "К°а±­пїЅйў¬
    "raznocvet" => "Р з­®пїЅвҐІ",
    "grau" => "СҐпїЅпїЅйў¬
    "blue" => "СЁнЁ©",
    "sirenevyi" => "СЁпїЅе­Ґв»©",
    "violet" => "ФЁо«ҐпїЅоў»йў¬
    "black" => "ЧҐпїЅн»©"
);
*/
/*

div.filtry_text_color{
	text-align: left;
	padding: 0px 30px;
}

div.filtry_text_color>div{
	background: url('../images/krestik_filtr.png') right 8px no-repeat;
	padding-right: 26px;
	display: inline-block;
	color:#959bad;
	font-size: 20px;
	font-family: 'arial_narrow';
	cursor: pointer;
	margin-right: 20px;	
	min-width: 30px;
	height: 29px;
	padding-bottom: 10px;
}

div.filtry_text_color>div:hover{
	opacity: 0.9;
}
div.filtry_text_color>div.heading{
	background-image: none;
	
}
ul.cat_filters li.li_filter4 .heading{
	padding-left: 0px;
}


.cat-f-color ul li input, ul.cat_filters li.li_filter4 ul li input, ul.cat_filters li.li_filter1 ul li input{
position: absolute;
width: 0px;
height: 0px;
}

.cat-f-color ul li label, ul.cat_filters li.li_filter4 ul li label{
display: block;
width: 51px;
height: 52px;
position: relative;
background: url('../images/color_bg2.png') no-repeat left top;
}

.cat-f-color ul li label:hover, .cat-f-color ul li.act-color label, ul.cat_filters li.li_filter4 ul li label:hover, ul.cat_filters li.li_filter4 ul li#act-color label{
display: block;
width: 52px;
height: 52px;
cursor: pointer;
background: url('../images/color_bg3.png') no-repeat -17px top;
}

.cat-f-color ul li label p, ul.cat_filters li.li_filter4 ul li label p{
position: absolute;
display: none;
top: 0px;
left: 0px;
width: 46px;
height: 46px;
background: url('../images/color_bg1.png') no-repeat left -8px;
}

.cat-f-color ul li label:hover p, .cat-f-color ul li.act-color label p, ul.cat_filters li.li_filter4 ul li label:hover p, ul.cat_filters li.li_filter4 ul li#act-color label p{
display: block;
}

.cat-f-price, ul.cat_filters li.li_filter2{
float: left;
width: 187px;
margin: 0px 0px 0px 28px;
}

.cat-f-ttl, .heading{
font: 20px arial_narrow;
color: #545c76;
padding: 0px 0px 15px 0px;
}

.cat-f-price input[type="text"], ul.cat_filters li.li_filter2 input[type="text"]{
width: 66px;
height: 30px;
border: 1px solid #bababa;
border-radius: 7px;
font: 14px arial_narrow;
padding: 0px 0px 0px 12px;
}

.cat-f-price input[type="text"]:last-child, ul.cat_filters li.li_filter2 input[type="text"]:last-child{
margin: 0px 0px 0px 5px;
}

.cat-f-country, .cat-f-mf, ul.cat_filters li.custom_params-18, ul.cat_filters li.filter_manufacturers{
float: left;
width: 182px;
}

.cat-f-country select, .cat-f-mf select, .cat-f-size select, ul.cat_filters li.custom_params-18 select, ul.cat_filters li.filter_manufacturers select, ul.cat_filters li.custom_params-17 select{
width: 174px;
height: 32px;
border: 1px solid #bababa;
border-radius: 7px;
font: 14px arial_narrow;
padding: 0px 0px 0px 12px;
}

.cat-f-size, ul.cat_filters li.custom_params-17{
float: left;
width: 108px;
}

.cat-f-size select, ul.cat_filters li.custom_params-17 select{
width: 108px;
}

input.btn_filtr{
width: 120px;
height: 30px;
padding: 0 0 2px;
font: 17px arial_narrow;
outline: none;
position: relative;
cursor: pointer;
border-radius: 22px;
color: #555;
line-height: 18px;
margin: 20px 0px 0px 567px;
text-shadow: 1px 1px #D6D6D6;
border: 1px solid #959595;
border-top: 1px solid #B4B4B4;
border-bottom: 1px solid #7B7B7B;
box-shadow:
	inset 0 1px #E3E3E3,
	inset 1px 0 #CECECE,
	inset -1px 0 #CECECE,
	inset 0 -1px #BDBDBD,
	0 2px #878787,
	0 3px #7B7B7B,
	0 4px 2px rgba(0,0,0,0.4)
;
background: -moz-linear-gradient(top,  #d1d1d1 0%, #afafaf 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d1d1d1), color-stop(100%,#afafaf)); 
background: -webkit-linear-gradient(top,  #d1d1d1 0%,#afafaf 100%); 
background: -o-linear-gradient(top,  #d1d1d1 0%,#afafaf 100%); 
background: -ms-linear-gradient(top,  #d1d1d1 0%,#afafaf 100%); 
background: linear-gradient(top,  #d1d1d1 0%,#afafaf 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d1d1', endColorstr='#afafaf',GradientType=0 ); 
background-color: #C0C0C0;
}

input.btn_filtr::-moz-focus-inner{border:0}

input.btn_filtr:hover {
border-top: 1px solid #A2A2A2;
box-shadow:
	inset 0 1px #D4D4D4,
	inset 1px 0 #CECECE,
	inset -1px 0 #CECECE,
	inset 0 -1px #CECECE,
	0 2px #878787,
	0 3px #7B7B7B,
	0 4px 2px rgba(0,0,0,0.4)
;
background: -moz-linear-gradient(top,  #b7b7b7 0%, #c2c2c2 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b7b7b7), color-stop(100%,#c2c2c2));
background: -webkit-linear-gradient(top,  #b7b7b7 0%,#c2c2c2 100%); 
background: -o-linear-gradient(top,  #b7b7b7 0%,#c2c2c2 100%); 
background: -ms-linear-gradient(top,  #b7b7b7 0%,#c2c2c2 100%); 
background: linear-gradient(top,  #b7b7b7 0%,#c2c2c2 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7b7b7', endColorstr='#c2c2c2',GradientType=0 );
background-color: #C0C0C0;
}

input.btn_filtr:active {
top: 3px;
border: 1px solid #919191;
border-top: 1px solid #757575;
border-bottom: 1px solid #9F9F9F;
background: #B3B3B3;
box-shadow: inset 0 1px 2px #7F7F7F;
}*/

.cat-sort{
margin: 10px 0px 35px 0px;
padding: 15px 0px 15px 27px;
background: #f7f7f7;
}

.tags{
float: left;
width: 273px;
height: 29px;
border-right: 1px solid #d9dbe1;
margin: 0px 28px 0px 0px;
}

.tags span, .sort span{
font: 15px arial;
color: #545c76;
line-height: 29px;
}

.tags a{
font: 13px arial;
color: #a2a7b7;
line-height: 29px;
margin: 0px 0px 0px 15px;
}

.tags a:hover{
text-decoration: none;
color: #545c76;
}

.sort{
float: left;
width: 239px;
font: 15px arial;
color: #545c76;
line-height: 29px;
}

.sort a{
font: 13px arial;
color: #959bad;
line-height: 29px;
margin: 0px 0px 0px 15px;
padding: 0px 20px 0px 0px;
background: url('../images/sort_arrow1.png') no-repeat right center;
}

.sort a:hover{
text-decoration: none;
color: #545c76;
}

.sort a.orderDesc{
background: url('../images/sort_arrow2.png') no-repeat right center;
}

.count_page{
float: right;
margin-right: 10px;
}

.count_page p{
float: left;
width: 100px;
font: 15px arial;
color: #545c76;
line-height: 29px;
}

.count_page a{
float: left;
display: block;
width: 23px;
height: 23px;
font: 13px arial;
color: #545c76;
line-height: 24px;
margin: 4px 2px 0px 2px;
text-align: center;
}

.count_page a:hover, .count_page a.act_count{
color: white;
background: #545c76;
text-decoration: none;
}

.cats_list{
text-align: center;
}

.cats_list ul{
display: inline-block;
//display: inline;
zoom: 1;
}

.cats_list ul li{
float: left;
display: inline;
width: 342px;
margin: 0px 20px 20px 20px;
}

.cats_list ul li>a>p{
font: 16px arial;
color: #545c76;
text-transform: uppercase;
}

.cats_list ul li>a:hover>p, .cats_list ul li>a:hover{
color: black;
text-decoration: none;
}

ul.cat{
list-style: none;
margin: 0px 0px 0px -18px;
}

ul.cat li{
float: left;
width: 246px;
/*height: 364px;*/
height: 501px;
margin: 0px 0px 40px 18px;
position: relative;
}

ul.cat li a.cat2_link{
display: block;
width: 246px;
text-decoration: none;
margin: 0px 0px 11px 0px;
}

.cat2_img{
width: 246px;
height: 367px;
overflow: hidden;
margin: 0px 0px 25px 0px;
}

ul.cat li a.cat2_link img.browseProductImage{
/*min-width: 246px;
height: 367px;*/
}

.cat2_ttl{
height: 34px;
font: 16px arial;
color: #545c76;
line-height: 18px;
overflow: hidden;
}

ul.cat li a:hover .cat2_ttl{
color: black;
}

.cat2_info{
margin: 0px 0px 18px 0px;
}

.cat2_mf{
font: 12px arial;
color: #0070f2;
float: left;
width: 105px;
line-height: 17px;
}

.cat2_color{
float: left;
width: 23px;
height: 15px;
background: black;
margin: 0px 4px 0px 0px;
}

.cat2_nocolor{
float: left;
width: 23px;
height: 15px;
background: white;
margin: 0px 4px 0px 0px;
}

.cat2_country{
float: right;
width: 23px;
font: 12px arial;
color: #0070f2;
line-height: 17px;
margin: 0px 4px 0px 0px;
}

.cat2_country img{
    float: left;
    width: 23px;
    height: 15px;
    margin: 0px 10px 0px 0px;
    border: 1px solid #bbb;
}

.cat2_price{
float: left;
width: 147px;
font: 15px arial;
color: #545c76;
line-height: 29px;
}

.cat2_more{
float: left;
display: block;
width: 98px;
height: 29px;
font: 15px arial_narrow;
color: white;
text-decoration: none;
background: #efa319;
line-height: 29px;
text-align: center;
}

.cat2_more:hover{
color: #545c76;
text-decoration: none;
}

/*
ul.cat li p{
position: absolute;
top: 346px;
right: 12px;
width: 225px;
font: 24px arial_narrow;
color: #303e50;
text-align: center;
line-height: 32px;
}
*/

ul.cat li p span.strana{
font-size: 20px;
}


ul.cat li a:hover p{
/*text-shadow: 2px 3px 3px  rgba(0, 0, 0, 1);*/
}

.cat-pagination, .vm-pagination{
margin: 20px 0px 0px 0px;
}

.cat-pagination ul, .vm-pagination ul{
list-style: none;
}

.cat-pagination ul li, .vm-pagination ul li{
float: left;
margin: 0px;
padding: 0px;
}

.cat-pagination ul li a, .vm-pagination ul li a{
font: 20px arial;
color: #545c76;
margin: 0px 4px;
line-height: 17px;
}

.cat-pagination ul li a:hover, .vm-pagination ul li a:hover{
color: #efa319;
text-decoration: none;
}

.cat-pagination ul li span, .vm-pagination ul li span{
font: 20px arial;
color: #efa319;
margin: 0px 4px;
line-height: 17px;
}

.cat-pagination ul li.pagination-start, .cat-pagination ul li.pagination-prev, .cat-pagination ul li.pagination-end, .cat-pagination ul li.pagination-next{
display: none;
}

.cat-pagination ul li.pagination-start a, .cat-pagination ul li.pagination-start span, 
.vm-pagination ul li.pagination-start a, .vm-pagination ul li.pagination-start span{
display: block;
width: 57px;
height: 17px;
font-size: 8px;
line-height: 500px;
overflow: hidden;
margin: 0px 4px;
background: url('../images/arrow8.png') no-repeat left center;
}

.cat-pagination ul li.pagination-prev a, .cat-pagination ul li.pagination-prev span, 
.vm-pagination ul li.pagination-prev a, .vm-pagination ul li.pagination-prev span{
display: block;
width: 61px;
height: 17px;
font-size: 8px;
line-height: 500px;
overflow: hidden;
margin: 0px 20px 0px 4px;
background: url('../images/arrow7.png') no-repeat left center;
}

.cat-pagination ul li.pagination-end a, .cat-pagination ul li.pagination-end span, 
.vm-pagination ul li.pagination-end a, .vm-pagination ul li.pagination-end span{
display: block;
width: 57px;
height: 17px;
font-size: 8px;
line-height: 500px;
overflow: hidden;
margin: 0px 4px;
background: url('../images/arrow10.png') no-repeat left center;
}

.cat-pagination ul li.pagination-next a, .cat-pagination ul li.pagination-next span, 
.vm-pagination ul li.pagination-next a, .vm-pagination ul li.pagination-next span{
display: block;
width: 61px;
height: 17px;
font-size: 8px;
line-height: 500px;
overflow: hidden;
margin: 0px 4px 0px 20px;
background: url('../images/arrow9.png') no-repeat left center;
}

.det-info, .content{
width: 722px;
padding: 0px 0px 21px 0px;
position: relative;
background: url('../images/det_bg2.png') no-repeat center bottom;
}

.det-info-bg, .content-bg{
position: absolute;
top: 5px;
right: -22px;
width: 22px;
height: 375px;
background: url('../images/det_bg1.png') no-repeat left top;
}

.det-info-in, .content-in{
width: 722px;
border-radius: 10px;
background: white;
padding: 0px 0px 5px 0px; 
}

.content-in{
width: 666px;
min-height: 629px;
padding: 0px 28px 19px 28px;
}

.content-in p{
font: 17px arial_narrow;
color: #545c76;
text-align: justify;
line-height: 19px;
margin: 0px 0px 19px 0px;
}

.det-ttl, .content-in p.content-ttl{
width: 500px;
font: 20px arial_narrow;
color: #545c76;
padding: 20px 0px 20px 28px;
}

.content-in p.content-ttl{
padding: 20px 0px 20px 0px;
margin: 0px;
}

.prod_det_back{
position: absolute;
top: 25px;
left: 27px;
width: 152px;
height: 24px;
font: 17px arial;
color: #545c76;
text-align: center;
line-height: 24px;
background: url('../images/back.png') no-repeat center center;
}

.prod_det_back:hover{
color: white;
text-decoration: none;
}

.plit_imgs{
float: left;
width: 567px;
height: 492px;
margin: -69px 57px 0px 0px;
}

.plit_img_big{
width: 567px;
height: 398px;
margin: 0px 0px 11px 0px;
}

ul.plit_img_big li{
float: left;
display: none;
width: 567px;
height: 398px;
list-style: none;
}

ul.plit_img_big li:first-child{
display: block;
}

ul.plit_img_big li a{
display: block;
width: 567px;
height: 398px;
position: relative;
overflow: hidden;
}

ul.plit_img_big li img{
width: 567px;
/*height: 398px;*/
}

.plit_img_small{
padding: 6px 0px;
height: 68px;
background: #ebecef;
}

ul.plit_img_small li{
float: left;
width: 86px;
height: 60px;
list-style: none;
margin-left: 3px;
border: 3px solid #ebecef;
overflow: hidden;
}

ul.plit_img_small li.small_act{
border: 3px solid #28378d;
}

ul.plit_img_small li:first-child{
margin-left: 0px;
}

ul.plit_img_small li img{
width: 86px;
/*height: 60px;*/
}

.plit_info{
float: right;
width: 519px;
}

.plit_info>ul{
margin: 0px 0px 30px 0px;
}

.plit_info>ul>li{
list-style: none;
width: 442px;
min-height: 29px;
font: 16px arial;
color: #545c76;
line-height: 29px;
border-top: 1px solid #eeeef1;
}

.plit_info>ul>li ul{
    padding: 0 0 0 90px;	
list-style: none;
width: 442px;
}

.plit_info>ul>li ul li{
float:left;
width:222px;
}

.plit_info>ul>li:first-child{
border-top: 0px;
}

.plit_info>ul>li p{
float: left;
}

.plit_info>ul>li p:first-child{
width: 90px;
}

.plit_info>ul>li p.plit_info_mf{
color: #0070f2;
padding-left: 34px;
}

.plit_info>ul>li p.plit_info_price{
padding-left: 34px;
}

.plit_info>ul>li p.color_square{
float: left;
width: 25px;
height: 17px;
background: black;
margin: 6px 9px 0px 0px;
}

.plit_info>ul>li p.plit_info_country img{
float: left;
width: 25px;
height: 17px;
margin: 6px 9px 0px 0px;
}

.plit_content_list{
background: url('../images/det_bg4.png') repeat-x left 11px;
}

.plit_content_list>p{
width: 167px;
height: 20px;
font: 18px arial_narrow;
color: #545c76;
line-height: 20px;
background: white;
margin: 0px 0px 20px 0px;
}

.plit_content_list ul li{
font: 12px arial;
color: #8d93a6;
margin: 0px 0px 14px 0px;
list-style: none;
}

.plit_content_list ul li a{
font: 14px arial;
color: #0070f2;
margin: 0px 0px 14px 0px;
list-style: none;
border-bottom: 1px dashed #a3c0f9;
}

.plit_content_list ul li a:hover{
text-decoration: none;
border-bottom: 1px solid #a3c0f9;
}

.plit_subs{
margin: 40px 0px 0px 0px;
}

.det-img{
float: left;
width: 225px;
padding: 0px 0px 38px 14px;
margin: 0px 40px 0px 4px;
background: url('../images/det_bg3.png') no-repeat center bottom;
}

.det-img img{
width: 206px;
height: 307px;
}

.det-desc{
float: left;
width: 413px;
}

.det-country, .det-mf{
font: 17px arial_narrow;
color: #545c76;
}

.det-mf{
margin: 0px 0px 25px 0px;
}

.det-country span, .det-mf span{
color: #efa319;
}

.det-txt{
color: #545c76;
text-align: justify;
}

.det-txt p:first-child{
font: 17px arial_narrow;
color: #efa319;
}

.det-tabs{
width: 722px;
text-align: center;
}

.det-tabs ul{
display: inline-block;
//display: inline;
zoom: 1;
}

.det-tabs ul li{
float: left;
width: 333px;
height: 58px;
display: inline;
font: 19px arial_narrow;
color: #545c76;
text-transform: uppercase;
line-height: 58px;
background: none;
text-align: center;
border-radius: 10px 10px 0px 0px;
}

.det-tabs ul li.current, .det-tabs ul li:hover{
color: white;
background: #efa319;
}

.det-tabs ul li:hover{
cursor: pointer;
}

.box{  
display: none;
}  

.box.visible{  
display: block;
}

.det-tabs-cont{
width: 666px;
border-radius: 10px;
padding: 30px 28px 0px 28px;
background: white;
text-align: left;
}

.det-part-ttl{
height: 26px;
background: url('../images/det_bg4.png') repeat-x left center;
margin: 0px 0px 20px 0px;
}

.det-part-ttl p{
float: left;
height: 26px;
font: 16px arial;
color: #545c76;
line-height: 26px;
background: white;
padding: 0px 40px 0px 0px;
text-transform: uppercase;
}

ul.cat2{
display: inline-block;
zoom: 1;
}

.det-part ul li, ul.cat2 li{
width: 150px;
list-style: none;
margin: 0px 13px 40px 13px;
}

.det-part ul li, .plit_subs ul li{
float: left;
width: 260px;
height: 359px;
list-style: none;
}

ul.cat2 li{
float: left;
height: 240px;
list-style: none;
}

.det-part ul li:hover, .plit_subs ul li:hover, ul.cat2 li:hover{
background: none;
}

.det-part ul li a, .plit_subs ul li a, ul.cat2 li a{
display: block;
width: 150px;
}

ul.cat2 li a{
height: 240px;
}

.det-part ul li a:hover, .plit-sub ul li a:hover, ul.cat2 li a:hover{
text-decoration: none;
}

.det-part-img1{
width: 259px;
height: 259px;
padding: 4px 2px 0px 0px;
margin: 0px 0px 15px 0px;
}

.det-part-img2{
width: 255px;
height: 255px;
text-align: center;
position: relative;
}

.child, .helper {
display: -moz-inline-block;
display: inline-block;
vertical-align: middle;
}
   
.child {
width: 250px;
}

.helper {
width: 0;
height: 100%;
}

.det-part-img2 img, .det-part-img2 img{
max-width: 250px;
max-height: 250px;
border: 0px solid #ccc;
}

.det-part-txt{
height: 36px;
color: #545c76;
font: 16px arial;
line-height: 18px;
overflow: hidden;
text-transform: none;
margin: 0px 0px 10px 0px;
}


.det-part ul li a:hover .det-part-txt{
color: #efa319;
}

.det-part-size{
float: left;
height: 32px;
color: #0070f2;
font: 16px arial;
line-height: 32px;
overflow: hidden;
text-transform: none;
margin: 0px 17px 0px 0px;
padding: 0px 17px 0px 0px;
border-right: 1px solid #e0e3eb;
}

.det-part-price{
float: left;
width: 163px;
line-height: 32px;
color: #0070f2;
font: 16px arial;
line-height: 32px;
overflow: hidden;
text-transform: none;
}

ul.det-cats{
list-style: none;
margin: 0px 0px 0px -1px;
}

ul.det-cats li{
float: left;
width: 200px;
height: 298px;
margin: 0px 11px 22px 11px;
position: relative;
}

ul.det-cats li a{
display: block;
width: 200px;
height: 298px;
text-align: center;
}

ul.det-cats li img{
width: 200px;
height: 298px;
margin: 0px;
border-radius: 10px;
}

ul.det-cats li p{
position: absolute;
top: 18px;
right: 16px;
font: 30px arial_narrow;
color: white;
text-align: right;
text-shadow: 2px 2px 2px  rgba(0, 0, 0, 0.6);
}

ul.det-cats li a:hover p{
text-shadow: 2px 3px 3px  rgba(0, 0, 0, 1);
}

.det-more-ttl{
width: 500px;
font: 20px arial_narrow;
color: #545c76;
margin: 30px 0px 30px 28px;
}

ul.cat2 li .det-part-txt, ul.cat2 li .det-part-price{
text-align: center;
}

ul.cat2 li .det-part-txt{
margin: 10px 0px 7px 0px;
}

ul.cat2 li a:hover .det-part-txt{
color: #efa319;
}

.prod-no, .prod-back{
width: 100%;
text-align: center;
font: 17px arial_narrow;
color: #545c76;
line-height: 19px;
margin: 0px 0px 19px 0px;
}

.prod-back a{
color: #efa319;
}

.prod-back a:hover{
color: black;
text-decoration: none;
}

/* --- ФіпїЅе° --- */

ul.f-social{
display: inline-block;
//display: inline;
zoom: 1;
height: 40px;
margin: 0px 0px 45px 0px;
}

ul.f-social li{
float: left;
display: inline;
width: 75px;
height: 22px;
margin: 0px 30px;
padding: 18px 0px 0px 48px;
}

#f-soc-vk{
background: url('../images/soc_vk.jpg') no-repeat left top;
}

#f-soc-fb{
background: url('../images/soc_fb.jpg') no-repeat left top;
}

#f-soc-tw{
background: url('../images/soc_tw.jpg') no-repeat left top;
}

#f-soc-gp{
background: url('../images/soc_gp.jpg') no-repeat left top;
}

.f-txt{
font: 16px arial;
color: #545c76;
text-align: center;
line-height: 19px;
}

#cont_foot .f-txt{
width: 640px;
margin: 0px auto;
border-top: 1px solid #e5e5e5;
padding: 40px 0px 0px 0px;
}

.f-txt a{
color: #ffae00;
}

.f-counter{
margin-top: 20px;
}

a.tocall {
color: #ffae00;
cursor: pointer;
}

#scroller, #scroller_bottom{
position: fixed;
bottom: 20px;
right: 50px;
background: url(../images/arrow_scroll_top.png) no-repeat center;
height: 79px;
width: 53px;
z-index: 1000;
cursor: pointer;
}

#scroller_bottom {
background: url(../images/arrow_scroll.png) no-repeat center;

}

.no_items p {
padding: 20px;
text-align: center;
}

.oneslide {
width: 100%;
height: 470px;
text-align: center;
background: url('../images/main_top_bg_v4.jpg') no-repeat center center;
}

.oneslide>div{
width: 1200px;
height: 470px;
margin: 0px auto;
position: relative;
}

.oneslide .mw-sl-timer{
top: 388px;
left: 705px;
}

.slidokontainer {
position: fixed;
width: 100%;
height: 100%;
top: 0px;
left: 0px;
text-align: center;
z-index: 1000;
}

.slidokontainer .bottomoverlay {
width: 100%;
height: 100%;
background-color: rgba(0,0,0,0.6);
position: absolute;
top: 0px;
left: 0px;
}

.inner {
position: relative;
margin: 150px auto 0 auto;
display: inline-block;
}

.inner>div{
z-index: 1000;
position: absolute;
left: -450px;
width: 900px;
height: 500px;
padding: 15px;
background-color: #fff;
border-radius: 4px;
overflow: hidden;
}

#YMapsCredit {
display: none;
}

a.link1, a.link2 {
cursor: pointer;
}

.slide_up {
height: 570px;
}

#adminForm_1{
font: 17px arial_narrow;
}

#adminForm_1 .aiContactSafe_row {
display: inline-block;
width: 300px;
padding: 5px 15px;
}

#adminForm_1 .aiContactSafe_row input {
width: 300px;
height: 20px;
line-height: 20px;
border-radius: 5px;
}

#adminForm_1 .aiContactSafe_row select {
width: 304px;
height: 24px;
line-height: 20px;
border-radius: 5px;
border: 2px inset;
}

#adminForm_1 .aiContactSafe_row#aiContactSafe_row_aics_Soobshenie {
width: 636px;
}

#adminForm_1 .aiContactSafe_row textarea {
width: 636px;
height: 80px;
line-height: 20px;
border-radius: 5px;
border: 2px inset;
}

#adminForm_1 #aiContactSafe_info{
width: 636px;
text-align: center;
font-size: 14px;
}

#div_captcha {
text-align: center;
}

#aiContactSafeSend {
margin-left: 248px;
}

#aiContactSafeSend input {
border: 0px;
display: block;
position: relative;
width: 152px;
height: 24px;
color: white;
font: 17.33px arial_narrow;
line-height: 24px;
text-align: center;
z-index: 999;
background: url('../images/call_btn.png') no-repeat center center;
}

/* SLIMBOX */

/* SLIMBOX */

#lbOverlay {
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	cursor: pointer;
}

#lbCenter, #lbBottomContainer {
	position: absolute;
	z-index: 9999;
	overflow: hidden;
	background-color: #fff;
}

.lbLoading {
	background: #fff url('../images/loading.gif') no-repeat center;
}

#lbImage {
	position: absolute;
	left: 0;
	top: 0;
	border: 10px solid #fff;
	background-repeat: no-repeat;
}

#lbPrevLink, #lbNextLink {
	display: block;
	position: absolute;
	top: 0;
	width: 50%;
	outline: none;
}

#lbPrevLink {
	left: 0;
}

#lbPrevLink:hover {
	background: transparent url('../images/prevlabel.gif') no-repeat 0 15%;
}

#lbNextLink {
	right: 0;
}

#lbNextLink:hover {
	background: transparent url('../images/nextlabel.gif') no-repeat 100% 15%;
}

#lbBottom {
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size: 10px;
	color: #666;
	line-height: 1.4em;
	text-align: left;
	border: 10px solid #fff;
	border-top-style: none;
}

#lbCloseLink {
	display: block;
	float: right;
	width: 66px;
	height: 22px;
	background: transparent url('../images/closelabel.gif') no-repeat center;
	margin: 5px 0;
	outline: none;
}

#lbCaption, #lbNumber {
	margin-right: 71px;
	display: none;
}

#lbCaption {
	font-weight: bold;
}

/*END SLIMBOX*/

.custom_params-17 {
display: none;
}


/* д®ЎаўЁпїЅпїЅ в ЁзЎ°а­­оҐ */

.det-info-in .favorite_button{
	margin-top: 50px;
}

.favorite_button {
	/*background: url('../images/wish_list_button_menu.png') no-repeat center 0px;*/
	background: url('../images/wish_list_add_buttton.png') no-repeat center 0px;

	width: 223px ;
	height: 58px ;
	display: block;
	border: none ;
		color: #fff;
	font: 18px arial_narrow;
	text-transform: uppercase;
	margin-bottom: 35px;
	
	}
.favorite_button:hover {
	/*opacity: 1 !;*/
	opacity: 0.8 ;
	cursor: pointer;
	}
.deleted {
	
	padding: 0 ;
	border: none ;
		width: 223px ;
	height: 58px ;
	cursor: pointer ;
	

	}
.deleted:hover {
	opacity: 0.8 ;
	}

div.wish_list_delete_block{
	display: none;
	position: absolute;
    width: 246px;
    height: 367px;
    left: 0;
    top: 0px;
    z-index: 3;
    background: url('../images/maska_wish_list.png') no-repeat;
    background-size: cover

}

ul.cat li:hover div.wish_list_delete_block{
	display: block;
}

input.wishlist_delete{
	background: url('../images/wish_list_delete.png') left top no-repeat;
	width: 206px;
	height: 58px;
	display: block;
	color: #fff;
	font: 18px arial_narrow;
	text-transform: uppercase;
	line-height: 58px;
	text-align: center;
	text-decoration: none;
		border:0px solid #fff;
		margin-left: auto;
    margin-right: auto;
		cursor: pointer;
		
}

#favorite_cat_out{
margin-left: -18px;
}

ul#favorite_cat{
margin: 0px auto;
width: 1056px;
}

ul.cat li  a.pereyti_v_kollekciy{
	background: url('../images/pereiti_v_kollekciy.png') left top no-repeat;
	width: 206px;
	height: 58px;
	display: block;
	color: #fff;
	font: 18px arial_narrow;
	text-transform: uppercase;
	line-height: 58px;
	text-align: center;
	text-decoration: none;
	margin-left: auto;
    margin-right: auto;
	margin-top: 162px;
	margin-bottom: 10px;
}

div.wish_list_okno{
	display: none;
	position: fixed;
top: 40%;
left: 50%;
width: 321px;
background-color: #fff;
padding: 25px;
margin: 0px 0px 0px -147px;
border: 4px solid #988b86;
z-index: 930;
}
div.wish_list_okno{
font: 20px arial_narrow;
color: #545c76;
}
div.wish_list_okno a{
	cursor: pointer;
	text-decoration: none;
	padding: 0px 10px;
	background-color: #ffae00;
	color:#fff;
}

a.wish_list_menu_button{
	display: block;
width: 223px;
height: 58px;
font: 20px arial_narrow;
color: white;
text-transform: uppercase;
text-align: center;
line-height: 58px;
margin: 0px 0px 0px 14px;
background: url('../images/wish_list_button_menu.png') no-repeat center 0px;
margin-bottom: 20px;
}


div.stikers{
	position: absolute;
	left:-17px;
	bottom: 174px;
	z-index: 3;
	width: 100%;
}

div.stikers>div:not(.stiker_akciya),div.stikers>div:not(.stiker_novinka){	
	width: 150px;
	height: 37px;
	margin-top: 3px;
}


div.stiker_stok{
	background: url('../images/stiker_stok.png') left top no-repeat;
}
div.stiker_rasprodaja{
	background: url('../images/stiker_rasprodaja.png') left top no-repeat;
}
div.stiker_hit{
	background: url('../images/stiker_hit.png') left top no-repeat;
}
div.stiker_novinka{position: absolute;
top: 11px;
right:0px;
width: 152px;
height: 38px;
font: 29px arial_narrow;
color: white;
line-height: 78px;
text-align: center;
	background: url('../images/stiker_novinka.png') left top no-repeat;
}
div.stiker_akciya{
position: absolute;
top: 11px;
right:11px;
width: 78px;
height: 78px;
font: 29px arial_narrow;
color: white;
line-height: 78px;
text-align: center;
background: url('../images/spec_round.png') left top no-repeat;
}
div.left_col_bottom{
	position: absolute;
	bottom: -20px;
	left: 100px;
	height: 40px;
	width: 259px;
	background: url('../images/left_menu_bottom.png') left top no-repeat;
}

.partners li {
display: inline-block;
width: 330px;
text-align: center;
}

.partners li img {
max-width: 330px;
}

ul.cat_filters li.li_filter4 ul li.colorred, ul.cat_filters li.li_filter4 ul li.colorviolet {
display: none;
}

#rgb_bejevyi { background: #c9bf86; border: 1px solid #c9bf86;}
#rgb_white { background: #ffffff; border: 1px solid #c7c9bd;}
#rgb_yellow { background: #fcb913; border: 1px solid #fcb913;}
#rgb_red { background: #e62886; border: 1px solid #e62886;}
#rgb_green { background: #83c200; border: 1px solid #83c200;}
#rgb_korichnevyi { background: #8e5246; border: 1px solid #8e5246;}
#rgb_raznocvet { background: linear-gradient(to right, #83c200, #cb43ab); border: 1px solid #83c200;}
#rgb_grau { background: #c7c9bd; border: 1px solid #c7c9bd;}
#rgb_blue { background: #4b4da6; border: 1px solid #4b4da6;}
#rgb_sirenevyi { background: #cb43ab; border: 1px solid #cb43ab;}
#rgb_black { background: #000; border: 1px solid #000;}

#santehnika/*, #santehnika ul li:nth-child(1) */{
display: none;
}